#gameScreen {
    height:inherit;
    width:inherit;
    display:grid;

    grid-template-areas: '. hand3 hand3 score'
                         'hand2 bCard bDeck hand4'
                         'hand2 wCard wDeck hand4'
                         '. hand1 hand1 .';


    grid-template-rows: 2fr 3fr 3fr 2fr;
    grid-template-columns: 1fr 3fr 3fr 1fr;
}

#blackCard {
    grid-area: bCard;
}

#hand1 {
    grid-area:hand1;
    display:flex;
    justify-content: center;
}

#hand2 {
    grid-area:hand2;
    display:flex;
    justify-content: center;
    flex-direction: column;
}


#hand3 {
    grid-area:hand3;
    display:flex;
    justify-content: center;
}


#hand4 {
    grid-area:hand4;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#blackDeck {
    margin-top: 2vh;
    grid-area:bDeck;
}

#whiteDeck {
    grid-area:wDeck;
}

#answerCards {
    grid-area:wCard;
}

#score {
    grid-area:score;
}

