#gameScreen {
    background-image: url(../assets/CaH-background.png);
    background-repeat:no-repeat;
    background-size:100vmax;
    height:inherit;
    width:inherit;
    display:grid;

    grid-template-areas: '. . . score'
                         '. bCard bDeck .'
                         '. wCard wDeck .'
                         '. hand1 hand1 .';


    grid-template-rows: 2fr 3fr 3fr 2fr;
    grid-template-columns: 1fr 3fr 3fr 1fr;
}

#blackCard {
    grid-area: bCard;
    text-align: center;
}

#hand1 {
    grid-area:hand1;
    display:flex;
    justify-content: center;
}

#hand2 {
    grid-area:hand2;
    display:flex;
    justify-content: center;
    flex-direction: column;
}


#hand3 {
    grid-area:hand3;
    display:flex;
    justify-content: center;
}


#hand4 {
    grid-area:hand4;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#blackDeck {
    grid-area:bDeck;
    text-align: center;
}

#whiteDeck {
    grid-area:wDeck;
    text-align: center;
}

#answerCards {
    grid-area:wCard;
    text-align: center;
}

#score {
    grid-area:score;
}

#gameScreen p {
    margin-bottom:1vh;
}

#popUp {
    display:none;
}
