.answer-card {
    cursor: pointer;
    background-color: whitesmoke;
    perspective: 100px;
    color: #121212;
    border-radius: 10%;
    height: 24vh;
    display: block;
    width:10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: silver 0px 5px 20px, silver 0px 5px 20px;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  
  .white-card-text{
    border-bottom: 0.1vmin #fff solid;
    padding-top:0.5vmax;
    padding-bottom:0.3vmax;   
    margin-left: 0.25vmax;
    margin-right:0.25rem;  
    font-size: 1vmax;
  }