.black-card {
  cursor: pointer;
    background-color: black;
    perspective: 100px;
    color: white;
    border-radius: 10%;
    height: 16vh;
    width:6vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: silver 0px 5px 20px, silver 0px 5px 20px;
  }


  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  
  .black-card-text{
    padding-top:1vmax;
    padding-bottom:1vh;   
    margin-left: 1.25vmin;
    margin-right: 1.25vmin;  
    border-bottom: 0.1vmin #fff solid;
    font-size :0.9vmin;
  }

  #bottom {
    position:absolute;                 
    bottom:0.5rem;                         
    left:0.5rem;     
    font-size: 0.7vmin;                    
  }
  .bottom-img{
    height:15%;
    width:15%;
  }

  .black-card:hover {
    height: 20vh;
    width:8vw;
  }

  .black-card:hover .black-card-text {
    font-size: 1.3vmin;
  }