#black-deck {
    background-color: black;
    height: 70%;  
    perspective: 10rem;
    color: white;
    width: 25%;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: silver 0px 5px 20px, silver 0px 5px 20px;
  }
.cah-logo {
    position:absolute;
    bottom:1rem;                         
    left:0.5rem;     
    font-size: 0.7vmin;                                             
}

  .cah-logo >img {
    height:90%;
    width:90%;
    
  }
