.JudgeModal {
    z-index: 1; 
    width: 70vw; 
    height: 65vh; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(139, 156, 156, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(139, 156, 156, 0.36);
  
}

  .QuestionContent{
    padding-top: 5vh;
    display:flex;
    justify-content: center;
    align-self: center;
  }

  .JudgeModal-AnswerContent{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: none;
    display: flex;
    /* justify-content: space-evenly; */
  }

  .player1 {
    display:flex;
    margin-right:4vw;
  }
 

  .player2 {
    display:flex;
    margin-right:4vw;
  }

  .player3 {
    display:flex;
    margin-right:4vw;
  }

  .player4 {
    display:flex;
    margin-right:4vw;
  }
