
.lobby-card {
    cursor: pointer;
    background-color: whitesmoke;
    height: 35vh;
    perspective: 1000px;
    color: black;
    width: 12vw;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2vh;
    box-shadow: lightblue 0px 5px 20px, lightblue 0px 5px 20px;
    font-size: 1rem;

  }

  .lobby-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .lobby-card h2 {
    border-bottom: 2px #fff solid;
    font-size: 1vw;
    padding-bottom: 0.5vmin;
    margin-bottom: 0.5vmin;
    margin-top:0.5vmin;
    text-align: center;
  }


  .lobby-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }

  #lobby-details {
      margin-left:1vw;
      margin-right:1vw;
  }

  .landing-bottom-img{
    height:2vmax;
    width:2vmax;
  }

  #lobby-bottom {
    position:absolute; 
    font-size:1.5vmin;                
    bottom:5px;                         
    left:2px;                         
  }

  button {
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 2vmin;
    font-weight: 700;
    line-height: 1vh;
    padding: 1vh 1.5vh;
    margin-top: 1vh;
  }

form {
    padding:0;
}

button:hover {
    box-shadow: lightblue 0px 5px 20px, lightblue 0px 5px 20px;
  
}




#lobby-details h3 {
    border-bottom: 2px #fff solid;
    border-bottom: 2px #fff solid;
    padding-bottom: 1vmin;
    margin-bottom: 1vmin;
    font-size: 1vw;
}

select {
    width:5vw;
}