.popUp {
    z-index: 1; 
    width: 20vw; 
    height: 20vh; 
    position: block;
    top:50%;
    left: 50%;
    
    background: rgba(139, 156, 156, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(139, 156, 156, 0.36)
  }
  
  .popUp-Content {
    z-index: 1; 
  }