

.container{
    margin: 0 20px;
    width: 75%;
    border-color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    background-color:  #121212;
  
}
.item{
    padding-top:2rem;
    min-height: 30rem;
    min-width: 16rem;
    
    
  }
  
  .item img{
    border-radius:2rem;
    pointer-events: none;

  }
  
  .inner-slider{
    display: flex;
   
  
 
  }
  
  .slider{ 
    cursor: grab;
    overflow: hidden;
    height: 400px;
   }
  